.scroll-content {
    background-image: url("../assets/imgs/Fondo1.jpg");
    background-size: 100%;
}

div.col{
    background-color: #fdca2e;
    border-radius: 90px;
    padding: 15px;
    margin: 15px;
}

.table{
    margin-top: 90px;
}