<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>InfoRecolector</ion-title>
    <ion-content>
      <table>
        <tr>
          <!-- <th><img src="../assets/imgs/LogoI.png"/></th> -->
          <th></th>
        </tr>
      </table>
    </ion-content>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <!-- <button ion-button (click)="mostrarNombre()">Botón</button>

  <ng-container *ngIf="usuarios;else noUsers">
    <ng-container *ngFor="let u of usuarios">
      <div>
        Id: {{u.id}} - Nombre: {{u.name}} - Email: {{u.email}}
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noUsers>
    <h1>No hay usuarios</h1>
  </ng-template>

  <logo-preview></logo-preview> -->

</ion-content>
