<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color='navbarColor'>
      <ion-title color='black'>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="sidemenu">
    <ion-list>
      <ng-container *ngFor="let p of pages">
        <ng-container *ngIf="isVisible(p.authLevel)">
            <button class="listmenu" color='navbarColor' menuClose ion-item  (click)="openPage(p)">
                {{p.title}}
            </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isVisible(2)">
        <button class="listmenu" color='navbarColor' menuClose ion-item  (click)="logOut()">Cerrar Sesión</button>
      </ng-container>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>